.footer {
    background: url("../../assets/img/footer.svg") no-repeat center/cover;
    min-height: 378px;
    position: relative; 
    color: white;
    padding-top: 82px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__title {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer__form {
    display: flex;
    width: 500px;
    height: 60px;
}

.footer__input {
    width: 80%;
    height: 100%;
    border-radius: 3px 0 0 3px;
    border: none;
    text-indent: 20px;
    outline: none;
}

.footer__btn {
    width: 20%;
    height: 100%;
    background: #ffffff47;
    color: white;
    border-radius: 0 3px 3px 0;
    border: none;
    cursor: pointer;
}

.foo__wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    max-width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}



.footer__logo {
    font-size: 26px;
    font-weight: 400;
}

.footer__item {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer__li {
    font-size: 12px;
    font-weight: 400;
}

.footer__item li a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer__item li a:hover {
    text-decoration: underline;
}
